[submodule ".registry"]
	path = .registry
	url = https://github.com/learnitr/learnitr.r-universe.dev
	branch = HEAD
[submodule "chart"]
	path = chart
	url = https://github.com/SciViews/chart
	registered = false
[submodule "data.io"]
	path = data.io
	url = https://github.com/SciViews/data.io
	registered = false
[submodule "ggcheck"]
	path = ggcheck
	url = https://github.com/rstudio/ggcheck
	registered = false
[submodule "gradethis"]
	path = gradethis
	url = https://github.com/rstudio/gradethis
	registered = false
[submodule "learnitdashboard"]
	path = learnitdashboard
	url = https://github.com/learnitr/learnitdashboard
[submodule "learnitdown"]
	path = learnitdown
	url = https://github.com/learnitr/learnitdown
[submodule "learnitgrid"]
	path = learnitgrid
	url = https://github.com/learnitr/learnitgrid
[submodule "learnitprogress"]
	path = learnitprogress
	url = https://github.com/learnitr/learnitprogress
[submodule "learnr"]
	path = learnr
	url = https://github.com/rstudio/learnr
	registered = false
[submodule "svBase"]
	path = svBase
	url = https://github.com/SciViews/svBase
	registered = false
[submodule "svMisc"]
	path = svMisc
	url = https://github.com/SciViews/svMisc
	registered = false
